@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: whitesmoke;
    max-width:  1350px;
    margin: auto;
}


  
.btn-primary {
    @apply bg-gray-500 rounded-xl shadow-md text-white  hover:bg-gray-700 px-4 py-1 focus:bg-blue-200 items-center text-center border

}

.btn-primary > * {
    @apply mx-auto; /* Centra horizontalmente el contenido dentro del botón */
}

.btn-danger {
    @apply bg-red-500 text-white rounded-xl hover:bg-red-700 px-4 py-2 items-center text-center

}

.btn-danger > * {
    @apply mx-auto; /* Centra horizontalmente el contenido dentro del botón */
}


.form-control {
    @apply py-1 border-2  border-gray-300 bg-slate-100  w-full px-4 rounded-xl focus:outline-none focus:ring focus:border-gray-700
}

.nav-link {
    @apply text-gray-800 hover:bg-gray-700 hover:text-white px-2 py-1 rounded-md  font-bold
}

.nav-link-small {
    @apply text-gray-800 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    -webkit-text-stroke: 2px #8380a6; 
    
  }